.venue-agents {
    &.border-small .category-img-container {
        border:1px solid $secondary;
    }
    &.border-medium .category-img-container {
        border:3px solid $secondary;
    }
    &.border-large .category-img-container {
        border:5px solid $secondary;
    }
    &.border-extra-large .category-img-container {
        border:10px solid $secondary;
    }

    &.company-hidden .company-name {
        display:none;
    }

    .category-img-container {
        height:100px;
        width:100px;
    }
}