/* ====================================================
Common CSS For All Devices
==================================================== */
* {
  margin: 0;
  padding: 0;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.font-weight-medium {
  font-weight: 500;
}


//Category Related CSS
.explore-category {
  background-image: linear-gradient(0.23turn, #71639e, #01bad2, #71639e) !important;
  color: white;
}

.category_view {
  border: 2px solid darkslategray;
  background-color: white;
  border-radius: 50% !important;
  height: auto;
  width: 100%;
}

img.category-image {
  padding: 25px;
  width: 100%;
  height: 100%;
}

.category-title {
  font-size: 10px;
  text-align: center;
  padding-top: 15px;
}


.product_category {
  .img-container {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
  }
}

.object-fit {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

//Footer CSS
.o_cc5, .o_footer {
  background-color: #71639e;
  color: #FFFFFF;
}


/* ====================================================
CSS For Mobile
==================================================== */
@media only screen and (max-width: 768px) {
  .container.bottom-navbar-menu {
    margin: -15px 0px;
  }

  //Menu CSS
  .right-menu ul a {
    font-weight: 500;
    text-align: right;
  }
  .right-menu ul .rm-1 {
    padding-top: 10px;
  }

  //Footer CSS
  .footer-logo {
    height: 40px;
    width: auto;
  }
}


/* ====================================================
CSS For Desktop
==================================================== */

@media only screen and (min-width: 769px) {

  //Search Box CSS


  //Menu CSS
  header .navbar .side-navbar {
    max-height: 60vh;
    overflow-y: auto;
    margin-top: 0px;
    overflow-x: auto;
  }

  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #f7f7f7;
    overflow-x: hidden;
    transition: 0.5s;
    margin-top: 118px;
    padding-bottom: 500px;
  }
  .sidenav li.nav-item {
    list-style-type: none;
  }
  .sidenav li.nav-item::after {
    content: '';
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    float: right;
    margin: -33px 15px;
    -webkit-transform: rotate(-45deg);
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 22px;
    display: block;
    transition: 0.3s;
  }

  .sidenav.close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }


  //CSS for bottom Navbar
  .container.bottom-navbar-menu {
    margin: -15px 100px;
  }

  .bottom-navbar-menu-item ul a {
    margin: 0 10px;
  }
  .bottom-navbar {
    margin-top: 2px;
    padding: 2px 2px;
  }
  .right-menu div a {
    font-weight: 500;
    text-decoration: none;
  }
  .right-menu div {
    font-size: 22px;
    float: right;
  }
  .right-menu div .rm-1:hover::before {
    content: "Recent Offer";
    display: inline;
    position: relative;
  }
  .right-menu div .rm-2:hover::before {
    content: "My Wishlist";
    display: inline;
    position: relative;
  }
  .right-menu div .rm-3:hover::before {
    content: "My Cart";
    display: inline;
    position: relative;
  }

  //Footer CSS
  .footer-logo {
    height: 89px;
    width: auto;
  }
}
