//CSS For Mobile
@media only screen and (max-width: 768px) {
  .container.bottom-navbar-menu {
    margin: -15px 0px;
  }
}


//CSS For Desktop
@media only screen and (min-width: 769px) {
  .container.bottom-navbar-menu {
    margin: -15px 100px;
  }
}

.font-weight-medium {
  font-weight: 500;
}

.sticky-top {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  width: 100%;
}

.bottom-navbar {
  margin-top: 2px;
  padding: 2px 2px;
}

.footer-logo {
  height: 40px;
  width: auto;
}

.explore-cities {
  .img-container {
    height: 100px;
    width: 100px;
    flex-shrink: 0;
  }

  .country-image {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.object-fit {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.new-venues {
  .venue-img-container {
    height: 220px;
  }
}

.our-services {
  background-color: #eee;

  .icon {
    height: 70px;
    width: 70px;

    i {
      font-size: 42px;
    }
  }
}